/.project
*.pro.user*
CMakeLists.txt.user*

.make.cache
.qmake.cache
.qmake.vars

*~
*.a
*.la
*.lib
*.moc
*.o
*.obj
*.orig
*.temp
*.so
*.core
.DS_Store
.svn
*.qm
*.d

# Build targets:
/**/build-*/

# Original Repetier entries:

Private/**

*.db
Private/*

src/ArduinoAVR/Repetier/bin/*
src/ArduinoAVR/Repetier/bin/Release/Repetier_mega2560_.elf

src/ArduinoAVR/Repetier/bin/Release/Repetier_mega2560_.elf.hex

src/ArduinoAVR/Repetier/bin/Release/Repetier_mega2560_.elf.lss

src/ArduinoAVR/Repetier/bin/Release/Repetier_mega2560_.elf.map

src/ArduinoAVR/Repetier/bin/Release/Repetier_mega2560_.elf.map

src/ArduinoAVR/Configuration_ordbot.h

src/ArduinoAVR/Configuration_delta.h
Configuration_*.h
Repetier.depend
Repetier.layout
